html {
    background-color: rgb(235, 236, 210);
    color: rgb(14, 8, 8);

    font-family: 'Georgia', 'Garamond', serif;
}

body {
    background-color: rgb(254, 255, 244);
    border: solid 1px rgb(153, 153, 140);
    box-shadow: 5px 5px 5px rgb(36, 32, 32);

    display: grid;

    grid-template-areas: 
        "head head head"
        "desc desc desc"
        "ingredients steps steps";

    margin: 20px 10%;
}

img {
    width: 50%;

    border: solid 2px rgb(104, 20, 20);
    border-radius: 5px;

    float: none;

    grid-area: img;
}

a {
    display: block;

    color: rgb(8, 22, 59);
    background-color:rgb(247, 237, 245);
    border: solid 2px rgb(104, 20, 20);
    border-radius: 5px;

    width: fit-content;
    padding: 3px 5px;
    grid-area: link;

    margin: 10px auto;

    text-decoration: none;
}

header {
    grid-area: head;

    justify-items: center;

    display: grid;
    grid-template-areas:
        "title"
        "img"
        "link";
}

header p {
    padding: 0 2em;
}

section {
    margin-bottom: 2em;
    padding: 0px 2em;
}

h1 {
    text-align: center;
    grid-area: title;

    margin: 20px auto 2px auto;

    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 3em;
}

#description {
    grid-area: desc;
    text-align: center;
}
#ingredients {
    grid-area: ingredients;
}
#steps {
    grid-area: steps;
}

@media only screen and (max-width: 700px) {
    body {
        grid-template-areas: 
            "head"
            "desc"
            "ingredients"
            "steps";

        margin: 20px 5%;
    }

    img {
        width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        margin: 20px 20%;
    }
}